@keyframes primarybuttonanimation {
    0% {
        border-color: $color__brand;
    }

    50% {
        border-color: $color__white;
    }

    100% {
        border-color: $color__brand;
    }
}

.button {
    display: inline-block;
    appearance: none;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 2px solid #000;
    font-family: $font__brand__light;
    transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s, border-color ease-in-out 0.4s;
    background-color: white;

    &:hover,
    &:focus,
    &:active {
        background-color: black;
        color: white;
    }

    @include mq($until: small) {
        font-size: 16px;
        line-height: 22px;
        padding: em(7px, 16px) em($gutter-width, 16px) em(6px, 16px);
        border-radius: em(33px, 16px);
    }

    @include mq(small, medium) {
        font-size: 20px;
        line-height: 28px;
        padding: em(12px, 20px) em($gutter-width * 2, 20px) em(11px, 20px);
        border-radius: em(60px, 20px);
        min-width: em(200px, 20px);
    }

    @include mq(medium) {
        font-size: 24px;
        line-height: 32px;
        padding: em(12px, 24px) em($gutter-width * 2, 24px) em(11px, 24px);
        border-radius: em(60px, 24px);
        min-width: em(200px, 24px);
    }

    &--invert {
        background-color: rgba(0, 0, 0, 0.25);
        border-color: #fff;
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background-color: white;
            color: black;
        }
    }

    &--primary {
        border-color: $color__brand;
        background-color: $color__brand;
        color: white;
        font-family: $font__brand__bold;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active {
            border-color: black;
            background-color: black;
        }
    }

    &--primary-invert {
        &:hover,
        &:focus,
        &:active {
            border-color: white;
            background-color: white;
            color: black;
        }
    }
}