.button-group {
    text-align: center;
    margin: 0 auto;

    .button {
        @include mq($until: medium) {
            margin: 0 em(5px);
        }

        @include mq($from: medium) {
            margin: 0 em(12px);
        }
    }
}