.partners-block {
    &__heading {
        background-color: $color__brand;
        color: white;
        margin: 0;
        position: relative;
        text-align: center;

        @include mq($until: small) {
            margin-bottom: em($gutter-width, 24px);
            padding: em($gutter-width-sm, 24px);
        }

        @include mq($from: small, $until: medium) {
            margin-bottom: em($gutter-width * 2, 36px);
            padding: em($gutter-width-sm * 2, 36px) em($gutter-width-sm, 36px);
        }

        @include mq($from: medium) {
            margin-bottom: em($gutter-width * 2, 46px);
            padding: em($gutter-width * 2, 46px) em($gutter-width, 46px);
        }

        &:after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @include mq($until: medium) {
                @include arrow('down', $color__brand, 30px);
                bottom: -19px;
            }

            @include mq($from: medium) {
                @include arrow('down', $color__brand, 40px);
                bottom: -29px;
            }
        }
    }

    &__list {
        @include reset__list;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        max-width: em(1280px);
        margin: 0 auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: $gutter-width-half;

        @include mq($until: small) {
            flex: 0 0 percentage(1/3);
        }

        @include mq($from: small, $until: large) {
            flex: 0 0 25%;
        }

        @include mq($from: large) {
            flex: 0 0 percentage(1/6);
        }

        &--double {
            @include mq($until: small) {
                flex: 0 0 percentage(2/3);
            }

            @include mq($from: small, $until: large) {
                flex: 0 0 50%;
            }

            @include mq($from: large) {
                flex: 0 0 percentage(2/6);
            }
        }
    }

    &__link {
        display: block;

        > img {
            max-width: 100%;
        }
    }
}