.icon--calendar:before { content: '\e800'; } /* '' */
.icon--mail:before { content: '\e801'; } /* '' */
.icon--phone:before { content: '\e802'; } /* '' */
.icon--down-big:before { content: '\e803'; } /* '' */
.icon--left-big:before { content: '\e804'; } /* '' */
.icon--right-big:before { content: '\e805'; } /* '' */
.icon--up-big:before { content: '\e806'; } /* '' */
.icon--facebook:before { content: '\e80b'; } /* '' */
.icon--facebook-1:before { content: '\e80c'; } /* '' */
.icon--twitter-1:before { content: '\e80d'; } /* '' */
.icon--youtube:before { content: '\e80e'; } /* '' */
.icon--linkedin:before { content: '\e80f'; } /* '' */
.icon--googleplus:before { content: '\e810'; } /* '' */
.icon--clock:before { content: '\e817'; } /* '' */
.icon--twitter:before { content: '\f099'; } /* '' */
.icon--instagram:before { content: '\f16d'; } /* '' */
.icon--location:before { content: '\e807'; }