<article class="text-block partners-block">
    <% if(showHeading) { %>
    <h2 class="text-block__heading partners-block__heading">Våra partners</h2>
    <% } %>
    <ul class="partners-block__list">
        <li class="partners-block__item partners-block__item--double">
            <a href="https://www.tallinksilja.se/" class="partners-block__link" target="_blank"><img src="/static/tallink-silja-line.png" alt="Tallink Silja logo"></a>
        </li>
        <li class="partners-block__item">
            <a href="http://spritfabriken.com/" class="partners-block__link" target="_blank"><img src="/static/logo_skanska-spritfabriken.png" alt="Skånska Spritfabriken logo"></a>
        </li>
        <li class="partners-block__item">
            <a href="https://www.solera.se/" class="partners-block__link" target="_blank"><img src="/static/logo_solera.png" alt="Solera logo"></a>
        </li>
        <li class="partners-block__item">
            <a href="http://ziggesgarage.se/" class="partners-block__link" target="_blank"><img src="/static/logo_zigges.png" alt="Zigges Garage logo"></a>
        </li>
        <li class="partners-block__item">
            <a href="http://www.clydesdale.se" class="partners-block__link" target="_blank"><img src="/static/logo_clydesdale.jpg" alt="Clydesdale logo"></a>
        </li>
        <li class="partners-block__item">
            <a href="http://www.hven.com/" class="partners-block__link" target="_blank"><img src="/static/spirit-of-hven.gif" alt="Spirit of Hven logo"></a>
        </li>
        <li class="partners-block__item">
            <a href="http://jonasbroncksspirit.com/" class="partners-block__link" target="_blank"><img src="/static/jonasbronck-logo.jpg" alt="Jonas Bronck's Spirit logo"></a>
        </li>
        <li class="partners-block__item">
            <a href="http://www.hopsiedaisy.com/" class="partners-block__link" target="_blank"><img src="/static/hopsiedaisy-logo.jpg" alt="Hopsie Daisy Brewing Company logo"></a>
        </li>
    </ul>
</article>