<footer class="footer">
    <div class="footer__container">
        <div class="row footer__row">
            <form asp-controller="Email" asp-action="Send" method="post" class="footer__column form form--invert" data-form>
                <h4 class="footer__heading">Kontakta oss</h4>

                <div class="form__row">
                    <input class="form__input" type="text" name="Name" placeholder="Namn">
                </div>

                <div class="form__row">
                    <input class="form__input" type="email" name="Email" placeholder="E-post">
                </div>

                <div class="form__row">
                    <input class="form__input" type="text" name="Phone" placeholder="Telefon">
                </div>

                <div class="form__row">
                    <textarea class="form__textarea" name="Message" placeholder="Meddelande"></textarea>
                </div>

                <div class="form__row">
                    <button class="button button--primary button--primary-invert" type="submit">Skicka</button>
                </div>

                <input type="hidden" name="Subject" value="Kontakt från dryckeskultur.com">
            </form>

            <div class="footer__column footer__address">
                <h4 class="footer__heading">Här hittar du oss</h4>
                <p>
                    <strong>Postadress:</strong><br>
                    Råbyvägen 23<br>
                    754 22 Uppsala
                </p>
                <p>
                    <strong>Telefonnummer:</strong><br>
                    <a href="tel:+46706271187">+46 (0)70-627 11 87</a>
                </p>
                <p>
                    <strong>E-post:</strong><br>
                    <a href="mailto:info@fase-ab.se">info@fase-ab.se</a>
                </p>
                <ul class="social-links">
                    <li class="social-links__item"><a class="icon--facebook" href="https://www.facebook.com/fairandsquareevent/" target="_blank"><span>Facebook</span></a></li>
                    <li class="social-links__item"><a class="icon--instagram" href="https://www.instagram.com/fasekultur/" target="_blank"><span>Instagram</span></a></li>
                    <li class="social-links__item"><a class="icon--twitter" href="https://twitter.com/fasekultur/" target="_blank"><span>Twitter</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>