@model Piranha.Extend.Blocks.HtmlBlock

<article class="text-block animate" data-animate>
    <div class="animate__group">
        <div class="text-block__content text-block__body">
            @Html.Raw(Model.Body)
        </div>
    </div>
</article>