.page {
    &__heading {
        text-align: center;
        margin: 0;

        @include mq($until: small) {
            font-size: 32px;
        }

        @include mq($from: small, $until: large) {
            font-size: 48px;
        }

        @include mq($from: large) {
            font-size: 64px;
        }
    }

    &__heading2 {
        text-align: center;

        @include mq($until: small) {
            font-size: 24px;
            margin: em($gutter-width-half, 24px) 0 0;
        }

        @include mq($from: small, $until: large) {
            font-size: 32px;
            margin: em($gutter-width, 32px) 0 0;
        }

        @include mq($from: large) {
            font-size: 48px;
            margin: em($gutter-width-half, 48px) 0 0;
        }
    }

    &__nav {
        max-width: em($max-width);
        margin: em($gutter-width-half) auto 0;
        text-align: left;

        @include mq($until: small) {
            padding: 0 em($gutter-width-half);
        }

        @include mq(small, medium) {
            padding: 0 em($gutter-width-sm);
        }

        @include mq(medium) {
            padding: 0 em($gutter-width);
        }
    }

    &__breadcrumbs {
        @include reset__list();

        &__item {
            display: inline-block;
            font-size: 15px;

            &:after {
                content: '/';
                display: inline-block;
            }

            &:last-child:after {
                display: none;
            }
        }
    }
}