@model Piranha.Extend.Blocks.QuoteBlock

<div class="text-block animate" data-animate>
    <div class="text-block__content text-block__body">
        <blockquote>
            @Html.Raw(Model.Body)
        </blockquote>
    </div>
</div>