<% if(render == 'top'){ %>
<html>
<head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', 'GTM-NS6QPN2');
    </script>
    <link rel="stylesheet" href="/public/index.css?v=41">
    <link href="https://fonts.googleapis.com/css?family=Arizonia|Roboto:400,400i,700,700i" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="http://www.dryckeskultur.com/static/dryckeskultur.jpg">
</head>
<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NS6QPN2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <%- include('../../components/header/header', { selectedMenuItem }) %>

    <main class="main" role="main">
<% } %>
<% if(render == 'bottom'){ %>
    </main>

    <%- include('../../components/footer/footer') %>

    <script src="/public/index.js?v=34"></script>
</body>
</html>
<% } %>