<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="Postmark:ApiKey" value="a525e319-af7c-43a5-a871-e166dc45dceb" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.6.2" />
        <httpRuntime targetFramework="4.6.2" />
        <customErrors mode="Off" />
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.webServer>
        <staticContent>
            <!-- Set expire headers to 365 days for static content-->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" setEtag="false" />
            <!-- use utf-8 encoding for anything served text/plain or text/html -->
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".rss" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
            <!-- HTML5 Audio/Video mime types-->
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <remove fileExtension=".ogg" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <remove fileExtension=".ogv" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <remove fileExtension=".webm" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <!-- Proper svg serving. Required for svg webfonts on iPad -->
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <remove fileExtension=".svgz" />
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
            <!-- Image support -->
            <remove fileExtension=".jpg" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <remove fileExtension=".png" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <!-- HTML4 Web font mime types -->
            <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
            <remove fileExtension=".ttc" />
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/opentype" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <remove fileExtension=".crx" />
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
            <remove fileExtension=".xpi" />
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
            <remove fileExtension=".safariextz" />
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
            <!-- Flash Video mime types-->
            <remove fileExtension=".flv" />
            <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
            <remove fileExtension=".f4v" />
            <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
            <!-- Assorted types -->
            <remove fileExtension=".ico" />
            <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
            <remove fileExtension=".webp" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <remove fileExtension=".htc" />
            <mimeMap fileExtension=".htc" mimeType="text/x-component" />
            <remove fileExtension=".vcf" />
            <mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
            <remove fileExtension=".torrent" />
            <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
        </staticContent>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect dryckeskultur.com to www" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="dryckeskultur.com" />
                    </conditions>
                    <action type="Redirect" url="http://www.dryckeskultur.com/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <location path="contentediting">
        <system.web>
            <httpRuntime requestValidationMode="2.0" />
            <pages validateRequest="false" />
        </system.web>
    </location>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
</configuration>