.article {
    text-align: center;

    &__image {
        display: block;
        position: relative;
        margin: 0 auto;
        padding-top: em($header__height__small);

        @include mq(small) {
            padding-top: em($header__height__medium);
        }

        @include mq(medium) {
            height: 100vh;
            background: #000 url('/static/blue-glitter.jpg') no-repeat center center;
            background-attachment: fixed;
            background-size: cover;
            margin: 0 auto;
            padding-top: em($header__height__medium + $gutter-width);
            padding-bottom: em($gutter-width);

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

        > img {
            position: relative;
            z-index: 2;
            display: block;
            max-width: 100%;
            margin: 0 auto;

            @include mq(medium) {
                max-height: 100%;
                box-shadow: em(2px) em(2px) em(3px) 0 rgba(0, 0, 0, 0.75);
            }
        }
    }

    &__header {
        margin-bottom: em($gutter-width);

        @include mq(small) {
            margin-bottom: em($gutter-width * 2);
        }

        .events__item__date {
            display: block;
            margin-bottom: em($gutter-width-half);

            @include mq(small) {
                margin-bottom: em($gutter-width);
            }
        }
    }

    &__footer {
        margin-bottom: em($gutter-width-sm * 2.5);

        @include mq(small) {
            margin-bottom: em($gutter-width * 3);
        }
    }
}