.text-block {
    text-align: center;

    @include mq($until: small) {
        margin-bottom: em($gutter-width-sm * 2.5);
    }

    @include mq($from: small) {
        margin-bottom: em($gutter-width * 3);
    }

    &--grey {
        background-color: $color__grey__light;

        @include mq($until: small) {
            padding: em($gutter-width-sm * 2) 0;
        }

        @include mq($from: small) {
            padding: em($gutter-width * 2) 0 em($gutter-width * 1.5);
            margin-bottom: em($gutter-width * 2.5);
        }
    }

    &__heading,
    &__heading2 {
        display: block;
        margin: 0 auto;
    }

    &__heading {
        display: block;

        @include mq($until: small) {
            font-size: 24px;
            line-height: 30px;
        }

        @include mq($from: small, $until: medium) {
            font-size: 36px;
            line-height: 42px;
        }

        @include mq($from: medium) {
            font-size: 46px;
            line-height: 52px;
        }

        > strong {
            color: $color__brand;
        }

        > span {
            display: block;
            font-size: 0.6em;
            line-height: 1;
            color: $color__brand;
        }
    }

    &__heading2 {
        text-align: center;

        @include mq($until: small) {
            font-size: 20px;
            line-height: 26px;
        }

        @include mq($from: small, $until: medium) {
            font-size: 24px;
            line-height: 30px;
        }

        @include mq($from: medium) {
            font-size: 32px;
            line-height: 38px;
        }

        > strong {
            color: $color__brand;
        }
    }

    &__content {
        margin: 0 auto;

        @include mq($until: medium) {
            max-width: em(640px);
            padding: 0 em($gutter-width-half);
            margin-bottom: em($gutter-width-sm * 1.5);
        }

        @include mq($from: medium) {
            max-width: em(960px);
            margin-bottom: em($gutter-width * 1.5);
        }

        > p,
        > ul,
        > ol,
        > blockquote {
            font-family: 'Roboto', Arial;
            color: $color__grey__medium;

            @include mq($until: small) {
                font-size: 16px;
                line-height: 22px;
            }

            @include mq($from: small, $until: medium) {
                font-size: 18px;
                line-height: 26px;
            }

            @include mq($from: medium) {
                font-size: 20px;
                line-height: 28px;
            }

            > img {
                display: block;
                margin: em($gutter-width) auto;
                max-width: 100%;

                @include mq(small) {
                    max-width: em(480px);
                }
            }

            > strong {
                font-weight: 700;
            }

            > a {
                text-decoration: none;

                > i {
                    color: black;
                }
            }
        }

        > blockquote {
            position: relative;
            font-size: 0.9em;
            font-style: italic;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 1.5em;

            @include mq(small) {
                padding: 0 2em;
            }

            &:before {
                display: block;
                font-family: 'Arizonia';
                content: '"';
                font-size: 10em;
                line-height: 48px;
                margin-bottom: -10px;
                font-style: normal;
                color: black;

                @include mq($until: small) {
                    font-size: 7em;
                    font-style: normal;
                }
            }
        }
    }
}