@keyframes loader-fade-in {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loader-fade-in-out {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@mixin loader($size: 14px, $border-color: $color__brand, $border-width: 2px, $fade: in-out) {
    $fade-animation-name: loader-fade-#{$fade};
    $fade-iteration-count: infinite;

    @if ($fade == in) {
        $fade-iteration-count: infinite;
    }
    height: $size;
    width: $size;
    border: $border-width solid $border-color;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    animation: {
        name: loader-rotate, #{$fade-animation-name};
        duration: 1s, 10s;
        timing-function: #{linear, linear};
        iteration-count: infinite, #{$fade-iteration-count};
    }
}