<nav class="navigation" role="navigation" data-navigation>
    <button class="navigation__toggle" data-navigation__toggle>Menu</button>
    <ul class="navigation__menu" role="menu">
        <li class="navigation__item navigation__item--has-children<% if(selectedMenuItem === 'events') { %> navigation__item--active<% } %>" role="menuitem">
            <a href="/dryckeskultur-2018.html" class="navigation__link">Dryckeskultur</a>
            <ul class="navigation__sub-menu" role="menu">
                <li class="navigation__sub-item" role="menuitem">
                    <a href="/artister.html" class="navigation__sub-link">Artister</a>
                </li>
                <li class="navigation__sub-item" role="menuitem">
                    <a href="/skolningar-workshops-masterclasses.html" class="navigation__sub-link">Skolningar, workshops &amp; masterclasses</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item" role="menuitem">
            <a href="/om-oss.html#kontakt" class="navigation__link">Kontakt</a>
        </li>
        <li class="navigation__item<% if(selectedMenuItem === 'about-us') { %> navigation__item--active<% } %>" role="menuitem">
            <a href="/om-oss.html" class="navigation__link">Om oss</a>
        </li>
        <li class="navigation__item<% if(selectedMenuItem === 'partners') { %> navigation__item--active<% } %>" role="menuitem">
            <a href="/partners.html" class="navigation__link">Partners</a>
        </li>
        <li class="navigation__item<% if(selectedMenuItem === 'foretag') { %> navigation__item--active<% } %>" role="menuitem">
            <a href="/for-foretag.html" class="navigation__link">För &nbsp;företag</a>
        </li>
    </ul>
</nav>