<nav class="navigation" role="navigation" data-navigation>
    <button class="navigation__toggle" data-navigation__toggle>Menu</button>
    <ul class="navigation__menu" role="menu">
        <li class="navigation__item" role="menuitem">
            <a href="/events.html" class="navigation__link">Events</a>
        </li>
        <li class="navigation__item" role="menuitem">
            <a href="/om-oss.html#kontakt" class="navigation__link">Kontakt</a>
        </li>
        <li class="navigation__item" role="menuitem">
            <a href="/om-oss.html" class="navigation__link">Om oss</a>
        </li>
        <li class="navigation__item" role="menuitem">
            <a href="/partners.html" class="navigation__link">Partners</a>
        </li>
        <li class="navigation__item" role="menuitem">
            <a href="#" class="navigation__link">För &nbsp;företag</a>
        </li>
    </ul>
</nav>