@model Fase.Web.Models.PartnersPage
@{
    ViewBag.Title = Model.Title;
}

@section Hero
    {
    @Html.DisplayFor(m => m.Hero)
}

<div class="text-block partners-block">
    <ul class="partners-block__list">
        @foreach (var partner in Model.Partners)
        {
            @Html.DisplayFor(m => partner)
        }
    </ul>
</div>

@Html.DisplayFor(m => m.Blocks)