.profile {
    &__list {
        @include reset__list;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-width: em(960px);
        margin: 0 auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: em($gutter-width-half);
        text-align: center;

        @include mq($until: small) {
            flex: 0 0 50%;
        }

        @include mq(small) {
            flex: 0 0 25%;
        }

        @include mq($until: medium) {
            padding: em($gutter-width-half-sm);
        }
    }

    &--medium &__item {
        @include mq(small) {
            flex: 0 0 percentage(1/3);
        }
    }

    &--large &__item {
        @include mq($until: small) {
            flex: 0 0 100%;
        }

        @include mq(small) {
            flex: 0 0 50%;
        }
    }

    &--full &__item {
        @include clearfix;
        flex-direction: row;
        flex-wrap: wrap;
        flex: none;
        width: 100%;
        padding: 0 0 em($gutter-width-half);
    }

    &__image {
        display: block;
        flex: none;
        border-radius: 100%;
        width: 100%;
        max-width: 100%;
    }

    &--full &__image-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;

        @include mq($until: small) {
            max-width: em(300px);
        }

        @include mq(small) {
            width: percentage(1/3);
            padding: em($gutter-width-half-sm);
        }

        @include mq(medium) {
            padding: em($gutter-width-half);
        }
    }

    &--full &__description {
        display: flex;
        flex-direction: column;

        @include mq(small) {
            width: percentage(2/3);
            padding: em($gutter-width-half-sm);
        }

        @include mq(medium) {
            padding: em($gutter-width-half);
        }
    }

    &__name {
        margin-bottom: 0;

        @include mq($until: medium) {
            font-size: 16px;
        }

        @include mq(medium) {
            font-size: 20px;
        }

        &--large {
            @include mq($until: small) {
                font-size: 18px;
            }

            @include mq(small) {
                margin-top: 0;
                font-size: 24px;
            }
        }
    }

    &__text {
        margin: em(8px) 0 0;
        font-size: 14px;

        @include mq($until: small) {
            font-size: 13px;
        }

        > a {
            display: block;
            padding: em(5px) 0;
            text-decoration: none;

            > i {
                color: black;
            }
        }
    }
}