.animate {
    > * {
        position: relative;
        opacity: 0;
        bottom: -50px;
        transition: bottom ease-in-out 0.5s, opacity ease-in-out 0.5s;
    }

    &--onload > * {
        &:first-child {
            transition-duration: 0.4s;
        }

        &:nth-child(2) {
            bottom: -100px;
            transition-duration: 0.5s;
        }

        &:nth-child(3) {
            bottom: -150px;
            transition-duration: 0.6s;
        }
    }

    &__group {
        opacity: 0;

        &--active {
            bottom: 0 !important;
            opacity: 1;
        }
    }
}