<header class="header">
    <div class="header__container">
        <a href="/" class="header__home"><img class="header__logo" src="/static/logo.png"></a>

        <%- include('../navigation/navigation') %>
    </div>
</header>