<header class="header header--transparent" data-header>
    <div class="header__container">
        <a href="/" class="header__home"><img class="header__logo" src="/static/logo.png"></a>

        <%- include('../navigation/navigation', { selectedMenuItem }) %>
    </div>
</header>