.about-us {
    &__heading {
        @include mq($until: small) {
            margin-bottom: em($gutter-width, 32px);
        }

        @include mq(small, large) {
            margin-bottom: em($gutter-width, 48px);
        }

        @include mq(large) {
            margin-bottom: em($gutter-width * 1.5, 64px);
        }
    }
}