<article class="text-block">
    <h2 class="text-block__heading partners-block__heading">Program utresa 23/9</h2><br>
    <div class="text-block__content">
        <ol class="events__list">
            <li class="events__item">
                <h2 class="events__item__heading"><i class="icon--calendar"></i> Bourbon school</h2>
                <span class="events__item__date">
                    <i class="icon--clock"></i> kl 20:00 - 21:00<br>
                    <i class="icon--location"></i> Konferensrum BRUSSELS, 20 platser
                </span>
                <div class="text-block__content">
                    <p>
                        Bourbonworkshop med Rob "Dixie" Cederlid från Saddle n’ Sabre
                    </p>
                </div>
            </li>

            <li class="events__item">
                <h2 class="events__item__heading"><i class="icon--calendar"></i> Stolichnaya</h2>
                <span class="events__item__date">
                    <i class="icon--clock"></i> kl 20:00 - 21:00<br>
                    <i class="icon--location"></i> Konferensrum HELSINKI, 28 platser
                </span>
                <div class="text-block__content">
                    <p>
                        En vodkaworkshop med Joakim Lobelius från Solera Beverage Group.
                    </p>
                </div>
            </li>

            <li class="events__item">
                <h2 class="events__item__heading"><i class="icon--calendar"></i> Tequila</h2>
                <span class="events__item__date">
                    <i class="icon--clock"></i> kl 20:00 - 21:30<br>
                    <i class="icon--location"></i> Konferensrum TALLINNA, 17 platser
                </span>
                <div class="text-block__content">
                    <p>
                        En tequilaskolning med maestro Katarina Hoverman, Spirit by me.
                    </p>
                </div>
            </li>

            <li class="events__item">
                <h2 class="events__item__heading"><i class="icon--calendar"></i> Tänk utanför glaset</h2>
                <span class="events__item__date">
                    <i class="icon--clock"></i> kl 20:00 - 21:30<br>
                    <i class="icon--location"></i> Café Moonlight
                </span>
                <div class="text-block__content">
                    <p>
                        Cocktailworkshop med Zigges Garage.
                    </p>
                </div>
            </li>

            <li class="events__item">
                <h2 class="events__item__heading"><i class="icon--calendar"></i> Spirit of Hven</h2>
                <span class="events__item__date">
                    <i class="icon--clock"></i> kl 20:30 - 21:30<br>
                    <i class="icon--location"></i> Konferensrum STOCKHOLM,  28 platser
                </span>
                <div class="text-block__content">
                    <p>
                        En workshop om exklusiv, genuin dryck och smak med Marcus Christensen.
                    </p>
                </div>
            </li>
        </ol>
    </div>
</article>

<article class="text-block">
    <h2 class="text-block__heading partners-block__heading">Program hemresa 24/9</h2><br>
    <div class="text-block__content">
        <ol class="events__list">
            <li class="events__item">
                <h2 class="events__item__heading"><i class="icon--calendar"></i> Bubbelworkshop</h2>
                <span class="events__item__date">
                    <i class="icon--clock"></i> kl 12:00 - 13:00<br>
                    <i class="icon--location"></i> Konferensrum HELSINKI, 28 platser
                </span>
                <div class="text-block__content">
                    <p>
                        En sparklingworkshop med Joakim Lobelius från Solera Beverage Group.
                    </p>
                </div>
            </li>

            <li class="events__item">
                <h2 class="events__item__heading"><i class="icon--calendar"></i> Världens bästa GT</h2>
                <span class="events__item__date">
                    <i class="icon--clock"></i> kl 12:00 - 13:00<br>
                    <i class="icon--location"></i> Café Moonlight
                </span>
                <div class="text-block__content">
                    <p>
                        Ginworkshop med Jan Rothman, Skånska Spritfabriken.
                    </p>
                </div>
            </li>

            <li class="events__item">
                <h2 class="events__item__heading"><i class="icon--calendar"></i> Jonas Broncks Spirit:<br>Småländska smaker</h2>
                <span class="events__item__date">
                    <i class="icon--clock"></i> kl 12:00 - 13:00<br>
                    <i class="icon--location"></i> Konferensrum BRUSSELS, 20 platser
                </span>
                <div class="text-block__content">
                    <p>
                        En dryckesworkshop i småländska smaker med Jiri Holasek.
                    </p>
                </div>
            </li>
        </ol>
    </div>
</article>
