.footer {
    background-color: #000;
    color: #fff;
    padding: em($gutter-width) 0;
    margin-top: em($gutter-width);

    @include mq($from: small) {
        margin-top: em($gutter-width * 2);
    }

    &__container {
        margin: 0 auto;
        max-width: em(960px);
    }

    &__row {
        justify-content: center;

        @include mq($until: small) {
            padding: 0 em($gutter-width);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: em(480px);

        @include mq($until: small) {
            width: 100%;
            padding: em($gutter-width-half) 0;
        }

        @include mq($from: small) {
            padding: em($gutter-width);
            width: 50%;
        }
    }

    &__heading {
        @include mq($until: medium) {
            font-size: 24px;
            margin: 0 0 em($gutter-width-half, 24px);
        }

        @include mq($from: medium) {
            margin: 0 0 em($gutter-width-half, 32px);
            font-size: 32px;
        }
    }

    &__address {
        @include mq($until: medium) {
            font-size: 18px;

            > p {
                margin-top: em(10px, 18px);
            }
        }

        @include mq($from: medium) {
            font-size: 20px;

            > p {
                margin-top: em(10px, 20px);
            }
        }

        > p > a {
            color: $color__brand;
            text-decoration: none;
        }
    }
}