.hero {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: $z-index__hero__image;

    @include mq($until: small) {
        padding-bottom: 125%;
    }

    @include mq(small, medium) {
        padding-bottom: percentage(9/13);
    }

    @include mq(medium, large) {
        padding-bottom: percentage(9/17);
    }

    @include mq($from: large) {
        padding-bottom: percentage(9/18);
    }

    &:after {
        display: block;
        content: ' ';
        position: absolute;
        right: 0;
        left: 0;
    }

    &:after {
        top: 30%;
        bottom: 0;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);

        @include mq($from: small) {
            top: 30%;
        }
    }

    &__content {
        position: absolute;
        top: auto;
        right: 0;
        left: 0;
        z-index: $z-index__hero__content;
        text-align: center;
        color: #fff;

        @include mq($until: small) {
            bottom: em($gutter-width);
        }

        @include mq(small, large) {
            bottom: em($gutter-width * 1.5);
        }

        @include mq(large) {
            bottom: em($gutter-width * 2);
        }
    }

    &__heading {
        margin: 0 auto;
        padding: 0 $gutter-width-half;
        max-width: 1140px;
        font-family: $font__brand__bold;
        font-weight: 400;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

        @include mq($until: small) {
            font-size: 28px;
            line-height: 34px;
            margin: 0 auto em(5px, 28px);
        }

        @include mq($from: small, $until: medium) {
            font-size: 40px;
            line-height: 48px;
            margin: 0 auto em(5px, 40px);
        }

        @include mq($from: medium) {
            font-size: 48px;
            line-height: 56px;
            letter-spacing: 1px;
            margin: 0 auto em($gutter-width-half, 48px);
        }
    }

    &__sub-heading {
        font-family: $font__brand__bold;
        font-weight: 400;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

        @include mq($until: small) {
            font-size: 16px;
            line-height: 22px;
            margin: em($gutter-width-half-sm, 16px) auto em(5px, 16px);
        }

        @include mq($from: small, $until: medium) {
            font-size: 24px;
            line-height: 30px;
            margin: em($gutter-width-half-sm, 24px) auto em(5px, 24px);
        }

        @include mq($from: medium) {
            font-size: 32px;
            line-height: 38px;
            margin: em($gutter-width-half, 32px) auto em(10px, 32px);
        }
    }

    &__wysiwyg {
        > p {
            font-family: $font__brand__light;
            font-weight: 400;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

            @include mq($until: small) {
                font-size: 14px;
                line-height: 20px;
                margin: 0 auto em($gutter-width-half-sm * 1.5, 14px);
            }

            @include mq($from: small, $until: medium) {
                font-size: 18px;
                line-height: 24px;
                margin: 0 auto em($gutter-width-half-sm * 1.5, 18px);
                padding: 0 em($gutter-width-sm);
            }

            @include mq($from: medium) {
                font-size: 24px;
                line-height: 30px;
                margin: 0 auto em($gutter-width-half * 1.5, 24px);
                padding: 0 em($gutter-width);
                max-width: em(960px, 24px);
            }
        }
    }

    &__text {
        font-family: $font__brand__light;
        font-weight: 400;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

        @include mq($until: small) {
            font-size: 14px;
            line-height: 20px;
            margin: 0 auto em($gutter-width-half-sm * 1.5, 14px);
        }

        @include mq($from: small, $until: medium) {
            font-size: 18px;
            line-height: 24px;
            margin: 0 auto em($gutter-width-half-sm * 1.5, 18px);
            padding: 0 em($gutter-width-sm);
        }

        @include mq($from: medium) {
            font-size: 24px;
            line-height: 30px;
            margin: 0 auto em($gutter-width-half * 1.5, 24px);
            padding: 0 em($gutter-width);
            max-width: em(960px, 24px);
        }

        &--small {
            @include mq($until: small) {
                font-size: 12px;
                line-height: 18px;
                margin: 0 auto em($gutter-width-half-sm * 1.5, 12px);
            }

            @include mq($from: small) {
                font-size: 16px;
                line-height: 22px;
                margin: 0 auto em($gutter-width-half-sm * 1.5, 16px);
                padding: 0 em($gutter-width-sm, 16px);
            }

            @include mq($from: medium) {
                padding: 0 em($gutter-width, 16px);
                max-width: em(640px, 16px);
            }
        }

        > strong {
            font-family: $font__brand__bold;
        }
    }

    &__logo {
        display: block;
        margin: 0 auto em(5px);
        max-height: em(280px);

        @include mq($until: small) {
            max-height: em(180px);
        }

        @include mq(small, medium) {
            width: auto;
            max-height: em(250px);
        }
    }

    &__image {
        display: block;
        margin: 0;
        padding: 0;
        background-color: black;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: $z-index__hero__image;

        @include mq($until: small) {
            padding-bottom: 125%;
        }

        @include mq(small, medium) {
            padding-bottom: percentage(9/13);
        }

        @include mq(medium, large) {
            padding-bottom: percentage(9/17);
        }

        @include mq($from: large) {
            padding-bottom: percentage(9/18);
        }

        &:after {
            display: block;
            content: ' ';
            position: absolute;
            right: 0;
            left: 0;
        }

        &:after {
            top: 30%;
            bottom: 0;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);

            @include mq($from: small) {
                top: 30%;
            }
        }
    }

    &__video {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform: scaleX(1);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-bottom: 0;

        &__player {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            @include mq($until: medium) {
                width: auto;
                height: 100%;
            }
        }
    }

    &__loader {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform: scaleX(1);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        z-index: $z-index__hero__loader;
        display: none;

        &--semi-active {
            display: block;
        }

        &--active {
            &:after {
                @include loader($size: 48px, $border-width: 3px);

                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -24px;
                margin-right: -24px;
            }
        }
    }

    &--small {
        @include mq($until: medium) {
            padding-bottom: percentage(1/3);
        }

        @include mq($from: medium) {
            padding-bottom: percentage(1/5);
        }
    }

    &--medium {
        @include mq($until: medium) {
            padding-bottom: percentage(3/4);
        }

        @include mq($from: medium) {
            padding-bottom: percentage(1/4);
        }
    }

    &--static &__content {
        position: relative;
        z-index: $z-index__hero__image + 1;
        bottom: auto;
        padding: em($header__height__small) em($gutter-width-sm) em($gutter-width-sm * 2);

        @include mq(medium) {
            padding: em($header__height__medium + 20px) em($gutter-width) em($gutter-width * 2);
        }
    }

    &--video &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100%;
        position: relative;
        z-index: $z-index__hero__image + 1;
        bottom: auto;

        &__inner {
            position: relative;
            padding: em($header__height__small + 10px) em($gutter-width-sm) em($gutter-width-sm * 4);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

            @include mq(small) {
                padding: em($header__height__medium + 20px) em($gutter-width) em($gutter-width * 4);
            }
        }
    }

    &--static {
        padding-bottom: 0;
    }

    &--video {
        height: auto;
        min-height: 100vh;
        padding-bottom: 0;

        @include mq($from: medium) {
            height: auto;
        }
    }

    .button {
        @include mq($from: medium) {
            min-width: 250px;
        }
    }
}
