.hero {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: $z-index__hero__image;

    @include mq($until: small) {
        padding-bottom: 125%;
        margin-bottom: em($gutter-width-sm * 2);
    }

    @include mq(small, medium) {
        padding-bottom: percentage(9/13);
        margin-bottom: em($gutter-width * 3);
    }

    @include mq(medium, large) {
        padding-bottom: percentage(9/17);
        margin-bottom: em($gutter-width * 3);
    }

    @include mq($from: large) {
        padding-bottom: percentage(9/18);
        margin-bottom: em($gutter-width * 3);
    }

    &:after {
        display: block;
        content: ' ';
        position: absolute;
        right: 0;
        left: 0;
    }

    &:after {
        top: 30%;
        bottom: 0;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);

        @include mq($from: small) {
            top: 30%;
        }
    }

    &--small {
        @include mq($until: small) {
            margin-bottom: em($gutter-width-sm * 2);
        }

        @include mq($from: small) {
            margin-bottom: em($gutter-width * 2);
        }
    }

    &__content {
        position: absolute;
        top: auto;
        right: 0;
        left: 0;
        z-index: $z-index__hero__content;
        text-align: center;
        color: #fff;

        @include mq($until: small) {
            bottom: em($gutter-width);
        }

        @include mq(small, large) {
            bottom: em($gutter-width * 1.5);
        }

        @include mq(large) {
            bottom: em($gutter-width * 2);
        }
    }

    &__heading {
        margin: 0 auto;
        padding: 0 $gutter-width-half;
        max-width: 1140px;
        font-family: $font__brand__bold;
        font-weight: 400;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

        @include mq($until: small) {
            font-size: 28px;
            line-height: 34px;
            margin: 0 auto em(5px, 28px);
        }

        @include mq($from: small, $until: medium) {
            font-size: 48px;
            line-height: 54px;
            margin: 0 auto em(5px, 48px);
        }

        @include mq($from: medium) {
            margin: 0 auto em($gutter-width-half, 64px);
            font-size: 64px;
            line-height: 70px;
            letter-spacing: 1px;
        }
    }

    &__sub-heading {
        font-family: $font__brand__bold;
        font-weight: 400;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

        @include mq($until: small) {
            font-size: 16px;
            line-height: 22px;
            margin: em($gutter-width-half-sm, 16px) auto em(5px, 16px);
        }

        @include mq($from: small, $until: medium) {
            font-size: 24px;
            line-height: 30px;
            margin: em($gutter-width-half-sm, 24px) auto em(5px, 24px);
        }

        @include mq($from: medium) {
            font-size: 32px;
            line-height: 38px;
            margin: em($gutter-width-half, 32px) auto em(10px, 32px);
        }
    }

    &__text {
        font-family: $font__brand__light;
        font-weight: 400;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

        @include mq($until: small) {
            font-size: 14px;
            line-height: 20px;
            margin: 0 auto em($gutter-width-half-sm * 1.5, 14px);
        }

        @include mq($from: small, $until: medium) {
            font-size: 18px;
            line-height: 24px;
            margin: 0 auto em($gutter-width-half-sm * 1.5, 18px);
            padding: 0 em($gutter-width-sm);
        }

        @include mq($from: medium) {
            font-size: 24px;
            line-height: 30px;
            margin: 0 auto em($gutter-width-half * 1.5, 24px);
            padding: 0 em($gutter-width);
            max-width: em(960px, 24px);
        }

        > strong {
            font-family: $font__brand__bold;
        }
    }

    &__logo {
        display: block;
        margin: 0 auto;
        max-height: em(280px);

        @include mq($until: small) {
            max-height: em(180px);
        }

        @include mq(small, medium) {
            width: auto;
            max-height: em(250px);
        }
    }

    &__image {
        display: block;
        margin: 0;
        padding: 0;
        background-color: black;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: $z-index__hero__image;

        @include mq($until: small) {
            padding-bottom: 125%;
        }

        @include mq(small, medium) {
            padding-bottom: percentage(9/13);
        }

        @include mq(medium, large) {
            padding-bottom: percentage(9/17);
        }

        @include mq($from: large) {
            padding-bottom: percentage(9/18);
        }

        &:after {
            display: block;
            content: ' ';
            position: absolute;
            right: 0;
            left: 0;
        }

        &:after {
            top: 30%;
            bottom: 0;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);

            @include mq($from: small) {
                top: 30%;
            }
        }
    }

    &--small {
        @include mq($until: medium) {
            padding-bottom: percentage(1/3);
        }

        @include mq($from: medium) {
            padding-bottom: percentage(1/5);
        }
    }

    &--medium {
        @include mq($until: medium) {
            padding-bottom: percentage(3/4);
        }

        @include mq($from: medium) {
            padding-bottom: percentage(1/4);
        }
    }

    &--static &__content {
        position: relative;
        z-index: $z-index__hero__image + 1;
        bottom: auto;
        padding: em($header__height__small) em($gutter-width-sm) em($gutter-width-sm * 2);

        @include mq(medium) {
            padding: em($header__height__medium + 20px) em($gutter-width) em($gutter-width * 2);
        }
    }

    &--static {
        padding-bottom: 0;
    }

    .button {
        @include mq($from: medium) {
            min-width: 250px;
        }
    }
}