@mixin navigation__item($margin-left-right-sm: $gutter-width-half, $margin-left-right-md: $gutter-width-sm) {
    display: block;

    @include mq($until: large) {
        display: block;
        margin: 0 em($margin-left-right-sm) 0 auto;
        text-align: right;
        max-width: em(320px);
    }

    @include mq(small, medium) {
        margin: 0 em($margin-left-right-md) 0 auto;
    }

    @include mq(medium, large) {
        margin: 0 em($gutter-width) 0 auto;
    }
}

@mixin navigation__link($padding-top-bottom-sm: 10px, $margin-top-bottom-sm: 5px, $font-size-sm: 16px, $font-size-lg: 17px, $padding-top-lg: 32px, $padding-bottom-lg: 30px, $padding-left-right-lg: $gutter-width-sm) {
    display: block;
    position: relative;
    text-decoration: none;
    color: white;

    @include mq($until: large) {
        font-size: $font-size-sm;
        line-height: $font-size-sm + 6px;
        padding: $padding-top-bottom-sm 0;
        margin: $margin-top-bottom-sm 0;
    }

    @include mq($from: large) {
        font-size: $font-size-lg;
        line-height: $font-size-lg + 7px;
        padding: em($padding-top-lg, $font-size-lg) em($padding-left-right-lg, $font-size-lg) em($padding-bottom-lg, $font-size-lg);
    }
}

.navigation {
    position: relative;

    @include mq($from: large) {
        float: right;
        padding-right: 10px;
    }

    &__toggle {
        z-index: $z-index__navigation__toggle;

        @include mq($until: large) {
            display: block;
            margin: 0;
            padding: 0;
            position: absolute;
            top: em($gutter-width-half);
            right: em($gutter-width-half);
            text-indent: -5000px;
            appearance: none;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: em($nav__toggle__size);
            width: em($nav__toggle__size);
            height: em($nav__toggle__size);
            outline: none;

            &:before,
            &:after {
                content: '';
                background-color: #fff;
                position: absolute;
                height: em(2px);
                line-height: em(2px);
                overflow: hidden;
                right: em(5px);
                left: em(5px);
                transition: all 0.4s ease;
                transform-origin: 50% 50% 0;
            }

            &:before {
                top: 32%;
                bottom: auto;
            }

            &:after {
                top: auto;
                bottom: 32%;
            }
        }

        @include mq(small, medium) {
            top: em($gutter-width-sm + 5px);
            right: em($gutter-width-sm);
        }

        @include mq(medium, large) {
            top: em($gutter-width-sm + 5px);
            right: em($gutter-width);
        }

        @include mq(large) {
            display: none;
        }
    }

    &--active &__toggle {
        @include mq($until: large) {
            &:before,
            &:after {
                background-color: $color__brand;
                top: 50%;
                margin-top: -1px;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    &__menu {
        @include reset__list;
        z-index: $z-index__navigation__menu;
        transition: transform ease-in-out 0.4s;
        font-family: $font__brand__bold;
        font-weight: 400;

        @include mq($until: large) {
            display: block;
            position: fixed;
            padding-top: em($header__height__small + 10px);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(101%);
            background-color: #000;
        }

        @include mq(medium, large) {
            padding-top: em($header__height__medium);
        }

        @include mq(large) {
            display: inline-block;
        }
    }

    &--active &__menu {
        @include mq($until: large) {
            transform: translateX(0);
        }
    }

    &__item {
        @include navigation__item;
        position: relative;

        @include mq(large) {
            display: inline-block;
        }

        &--active,
        &:hover {
            @include mq($from: large) {
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }

        &--has-children:hover {
            @include mq($from: large) {
                background: black;
            }
        }
    }

    &__link {
        @include navigation__link;
        text-transform: uppercase;
    }

    &__item--active &__link {
        color: $color__brand;
    }

    &__sub-menu {
        @include reset__list;
        display: none;

        @include mq($until: large) {
            margin-bottom: em($gutter-width-half);
        }

        @include mq($from: large) {
            position: absolute;
            background-color: black;
            padding: em(10px) 0;
            min-width: em(300px);
        }
    }

    &__item:hover &__sub-menu {
        @include mq(large) {
            display: block;
        }
    }

    &__item--active &__sub-menu {
        @include mq($until: large) {
            display: block;
        }
    }

    &__sub-item {
        @include navigation__item(0, 0);
    }

    &__sub-link {
        @include navigation__link(5px, 5px, 15px, 14px, 10px, 8px);
        font-family: $font__brand__light;
        font-weight: 400;
    }

    &__sub-item--active &__sub-link {
        color: $color__brand;
    }
}