@font-face {
    font-family: 'Nexa Bold';
    src:
        url('/fonts/nexa_bold-webfont.woff2') format('woff2'),
        url('/fonts/nexa_bold-webfont.woff') format('woff'),
        url('/fonts/nexa_bold-webfont.ttf') format('truetype'),
        url('/fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
    src:
        url('/fonts/nexa_light-webfont.woff2') format('woff2'),
        url('/fonts/nexa_light-webfont.woff') format('woff'),
        url('/fonts/nexa_light-webfont.ttf') format('truetype'),
        url('/fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}