.hidden {
    &-xsmall {
        @include mq($until: small) {
            display: none !important;
        }
    }

    &-small {
        @include mq($from: small) {
            display: none !important;
        }
    }
}

.visible {
    &__touch-device {
        display: none;

        html.touch-device & {
            display: initial;
        }
    }
}