.banner {
    @include clearfix;
    display: flex;
    flex-flow: row wrap;
    margin: em($gutter-width) 0 em($gutter-width * 2);

    &__image,
    &__content {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    &__image {
        display: block;
        position: relative;
        background-position: center;
        background-size: cover;

        @include mq($until: small) {
            padding-bottom: percentage(3/4);
            width: 100%;
        }

        @include mq($from: small) {
            width: 50%;
        }
    }

    &__content {
        background-color: $color__grey__light;
        text-align: left;
        padding: em($gutter-width-half);

        @include mq($from: small) {
            width: 50%;
            padding: em($gutter-width);
        }

        > p,
        > ul,
        > ol {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &--mirrored &__image {
        @include mq($from: small) {
            order: 2;
        }
    }

    &--mirrored &__content {
        @include mq($from: small) {
            order: 1;
        }
    }
}