.block {
    display: flex;
    flex-flow: column wrap;

    @include mq(small) {
        padding: em($gutter-width-half);
    }

    &--full {
        width: 100%;
    }

    &--half {
        @include mq($until: small) {
            width: 100%;
        }

        @include mq(small) {
            width: 50%;
        }
    }
}