body {
    &.state--loading {
        &:before,
        &:after {
            display: block;
            position: fixed;
            z-index: $z-index__loader;
        }

        &:before {
            content: ' ';
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            min-height: 100%;
            width: 100%;
        }

        &:after {
            @include loader(48px);
            content: ' ';
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -24px;
            margin-top: -24px;
        }
    }
}