<%- include('layouts/layout', {render: 'top', selectedMenuItem: 'events', pageTitle: 'Artister Dryckeskultur 2018 - FASE: A new kind of event'}) %>
<section class="hero hero--static" style="background-image: url('/static/the_sea.jpg')">
    <div class="hero__content">
        <img class="hero__logo" src="/static/dryckeskultur.png" alt="Dryckeskultur 2018 logo">
    </div>
</section>
<div class="article">
    <header class="article__header">
        <h1 class="page__heading article__heading">Artister</h1>
    </header>

    <article class="text-block">
        <div class="text-block__content">
            <ul class="profile__list profile--full">
                <li class="profile__item">
                    <div class="profile__image-wrapper">
                        <img class="profile__image" src="/static/albin-myers-new.jpg" alt="Albin Myers profilbild">
                    </div>
                    <div class="profile__description">
                        <h2 class="profile__name profile__name--large">Albin Myers</h2>
                        <p>
                            Albin Myers är en väletablerad DJ/Artist som redan hunnit turnéra ett par varv runt jorden. Det stora genombrottet kom 2012 då Albin släppte sin låt "Hells Bells" på Steve Aokis skivbolag DIM MAK. Innan detta hade Albin redan hunnit samarbeta med världsartister som Avicii & David Guetta. Nu är Albin Myers aktuell med både eget skivbolag och nya produktioner. Här allra senast med hans officiella remix på Axwell /\ Ingrossos "More Than You Know". Med sin kärlek till musiken får han dansgolv att gunga till allt han spelar!
                        </p>
                    </div>
                </li>


                <li class="profile__item">
                    <div class="profile__image-wrapper">
                        <img class="profile__image" src="/static/john-dahlback-new.jpg" alt="John Dahlbäck profilbild">
                    </div>
                    <div class="profile__description">
                        <h2 class="profile__name profile__name--large">John Dahlbäck</h2>
                        <p>
                            Född 13 oktober 1985. John är en svensk housemusiker och discjockey som nått
                            framgångar främst utanför Sveriges gränser. Han har benämnts som en av de mest talangfyllda
                            svenskarna i genren och har ett flertal produktioner bakom sig, såsom &quot;Hustle Up&quot;, &quot;Everywhere&quot;,
                            &quot;Blink&quot;, &quot;Out There&quot; och &quot;Pyramid&quot;.
                        </p>
                        <p>
                            John Dahlbäck är även bror till producenten Andreas Dahlbäck och kusin till producenten Jesper
                            Dahlbäck vilken han samarbetat med. John är aktuell med producent/DJ-projektet BROHUG som turnerar
                            frekvent i USA just nu.
                        </p>
                    </div>
                </li>

                <li class="profile__item">
                    <div class="profile__image-wrapper">
                        <img class="profile__image" src="/static/dj-chris.jpg" alt="Chris profilbild">
                    </div>
                    <div class="profile__description">
                        <h2 class="profile__name profile__name--large">Chris</h2>
                        <p>
                            Chris har spelat sedan 2003, runt om i hela Sverige och även internationellt i
                            samband med världskända DJ:s som Albin Myers, Dennis Koyu, John Dalbäck, Sebjak med flera.
                        </p>
                    </div>
                </li>

                <li class="profile__item">
                    <div class="profile__image-wrapper">
                        <img class="profile__image" src="/static/desotos-grupp-02.jpg" alt="De Sotos profilbild">
                    </div>
                    <div class="profile__description">
                        <h2 class="profile__name profile__name--large">De Sotos</h2>
                        <p>
                            De Sotos är ett av de mest etablerade och välkända livebanden i Sverige.
                        </p>
                        <p>
                            Både som show- och kompband har De Sotos närmare 30 års erfarenhet av företagsevent, TV-underhållning, turnéer, After Ski och, framför allt, nattklubbsspelningar.
                        </p>
                    </div>
                </li>

                <li class="profile__item">
                    <div class="profile__image-wrapper">
                        <img class="profile__image" src="/static/johnny-matte.jpg" alt="Johnny&amp;Matte profilbild">
                    </div>
                    <div class="profile__description">
                        <h2 class="profile__name profile__name--large">Johnny &amp; Matte</h2>
                        <p>
                            När två av Sveriges mest välrenommerade trubadurer ses tillsammans är det oftast som frontfigurerna i partybandet PartyPistolerna. I 20 år har de underhållit på alla tänkbara tillställningar runt om i Sverige, Europa och USA. Underhållning i toppklass. Med olika stilar men med en fantastisk samspelthet spelar de här som duo. Ett koncept Ni inte vill missa.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </article>

    <footer class="article__footer">
        <nav class="button-group">
            <%- include('../components/links/dryckeskultur', { cssClass: 'button--primary'}) %>
        </nav>
    </footer>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: 'events'}) %>