<%- include('layouts/layout', {render: 'top', selectedMenuItem: null, pageTitle: 'Dryckeskultur 2019 - FASE: A new kind of event'}) %>
<section class="hero hero--video" data-hero>
    <div class="hero__video">
        <video class="hero__video__player" id="start-video" muted="muted" playsinline="playsinline" autoplay="autoplay" loop="loop" preload="metadata">
            <source src="/static/stock-footage-glass-with-whisky-with-ice-cube-inside-on-dj-controller-at-nightclub-dj-console-with-club-drink-at-2.webm" type="video/webm" data-src="/static/stock-footage-glass-with-whisky-with-ice-cube-inside-on-dj-controller-at-nightclub-dj-console-with-club-drink-at-2.webm">
            <source src="/static/stock-footage-glass-with-whisky-with-ice-cube-inside-on-dj-controller-at-nightclub-dj-console-with-club-drink-at-2.mp4" type="video/mp4" data-src="/static/stock-footage-glass-with-whisky-with-ice-cube-inside-on-dj-controller-at-nightclub-dj-console-with-club-drink-at-2.mp4">
        </video>
    </div>
    <article class="hero__content">
        <div class="hero__content__inner animate animate--onload" data-animate='{ "mode": "onload" }'>
            <div class="animate__group">
                <img class="hero__logo" src="/static/dryckeskultur.png" alt="Dryckeskultur 2018 logo">
                <h2 class="hero__sub-heading">Specialkryssning på M/S Birka Stockholm 23/9</h2>
                <p class="hero__text">
                    Fair and Square Event presenterar 2019 års upplaga av  Dryckeskultur <strong>den 23 september 2019 kl 19:30</strong>. En mer renodlad dryckesmässa som riktar sig främst till krögare, branschfolk och andra dryckesintresserade.
                </p>
                <!-- 
                <p class="hero__text hero__text--small">
                    <strong>OBS!</strong> Vill ni ha tillgång till all underhållning (Albin Myers, John Dahlbäck, De Sotos m.fl.) så måste ni
                    boka med bokningskoden <strong>25 H PEOPLE</strong>
                </p>
                -->
            </div>
            <div class="animate__group">
                <nav class="button-group">
                    <a class="button button--invert" href="/dryckeskultur-2018.html">Läs mer</a>
                    <%- include('../components/links/dryckeskultur', { cssClass: 'button--primary button--primary-invert'}) %>
                </nav>
            </div>
        </div>
    </article>
</section>

<article class="text-block animate" data-animate>
    <div class="animate__group">
        <h2 class="text-block__heading">
            <span>FASE</span>
            A new kind of <strong>event</strong>
        </h2>
        <div class="text-block__content" data-editable data-name="about-text">
            <p>
                Fair and Square Event är precis som det låter, ett rättvist event. Vårat mål är att fullfölja våra klienters idéer, besökares förväntningar och tillsammans med er skapa unika och minnesvärda events. I slutändan ska alla känna att de fick en fair deal. Arbetet för en hållbar utveckling är något vi hela tiden strävar efter och är en naturlig del hos oss på fair and square event.
            </p>

            <p>
                Vi kan alla göra skillnad på olika sätt och vi väljer därför att på varje event försöka samarbeta med en transparent välgörenhetsorganisation vi kan känna oss trygga med och vet att dessa står för samma värderingar som vi inom FASE.
            </p>
        </div>
        <nav class="button-group">
            <a href="/om-oss.html" class="button">Mer om oss </a>
        </nav>
    </div>
</article>

<div class="animate" data-animate>
    <div class="animate__group">
        <%- include('../components/partners-block/partners-block', { showHeading: true }) %>
        <%- include('layouts/layout', {render: 'bottom', selectedMenuItem: null}) %>
    </div>
</div>