<%- include('layouts/layout', {render: 'top', selectedMenuItem: 'events'}) %>
<section class="hero hero--small" style="background-image: url('/static/the_sea.jpg')">
    <div class="hero__content">
        <h1 class="hero__heading">Events</h1>
    </div>
</section>

<div class="events">
    <ol class="events__list">
        <li class="events__item">
            <p class="events__item__intro">Specialkryssning på M/S Viking Cinderella</p>
            <h2 class="events__item__heading"><i class="icon--calendar"></i> Dryckeskultur 2018</h2>
            <span class="events__item__date"><i class="icon--clock"></i> 16 september 2018 kl. 18:00</span>
            <div class="text-block__content">
                <p>
                    Fair and Square Event presenterar premiären för Dryckeskultur 2018. En mer renodlad dryckesmässa som riktar sig främst till krögare, branschfolk och andra dryckesintresserade.
                    330kvm stor spritmässa, premium barskolningar, master classes (bitters, whisky, rom och gin) workshops och föreläsningar inom dryckeskultur.
                </p>
                <p>
                    Mingla i champagneloungen, njut av god mat & dryck, dansa natten lång till liveband, flera stora DJ's och trubadurer. Missa inte "Battle of the Bartenders" på hemvägen.
                </p>
            </div>
            <nav class="button-group">
                <a class="button" href="/dryckeskultur-2018.html">Läs mer</a>
                <%- include('../components/links/dryckeskultur', { cssClass: 'button--primary'}) %>
            </nav>
        </li>
    </ol>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: 'events'}) %>