<%- include('layouts/layout', {render: 'top', selectedMenuItem: 'foretag', pageTitle: 'För företag Dryckeskultur 2018 - FASE: A new kind of event'}) %>
<section class="hero hero--small" style="background-image: url('/static/the_sea.jpg')">
    <div class="hero__content">
        <h1 class="hero__heading">För företag/sponsorer</h1>
    </div>
</section>

<div class="page partners">
    <article class="text-block">
        <div class="text-block__content">
            <p>To Be Announced</p>
        </div>
    </article>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: 'foretag'}) %>