<%- include('layouts/layout', {render: 'top', selectedMenuItem: null, pageTitle: 'Dryckeskultur 2018 - FASE: A new kind of event'}) %>
<section class="hero hero--static" style="background-image: url('/static/the_sea.jpg')">
    <article class="hero__content">
        <img class="hero__logo" src="/static/dryckeskultur.png" alt="Dryckeskultur 2018 logo">
        <h2 class="hero__sub-heading">Specialkryssning på M/S Galaxy 23/9</h2>
        <p class="hero__text">
            Fair and Square Event presenterar premiären för Dryckeskultur <strong>den 23 september 2018 kl 19:30</strong>. En mer renodlad dryckesmässa som riktar sig främst till krögare, branschfolk och andra dryckesintresserade.
        </p>
        <p class="hero__text hero__text--small">
            <strong>OBS!</strong> Vill ni ha tillgång till all underhållning (Albin Myers, John Dahlbäck, De Sotos m.fl.) så måste ni
            boka med bokningskoden <strong>25 H PEOPLE</strong>
        </p>
        <nav class="button-group">
            <a class="button button--invert" href="/dryckeskultur-2018.html">Läs mer</a>
            <%- include('../components/links/dryckeskultur', { cssClass: 'button--primary button--primary-invert'}) %>
        </nav>
    </article>
</section>

<article class="text-block">
    <h2 class="text-block__heading">
        <span>FASE</span>
        A new kind of <strong>event</strong>
    </h2>
    <div class="text-block__content" data-editable data-name="about-text">
        <!-- editable about-text -->
        <p>
            Fair and Square Event är precis som det låter, ett rättvist event. Vårat mål är att fullfölja våra klienters idéer, besökares förväntningar och tillsammans med er skapa unika och minnesvärda events. I slutändan ska alla känna att de fick en fair deal. Arbetet för en hållbar utveckling är något vi hela tiden strävar efter och är en naturlig del hos oss på fair and square event.
        </p>

        <p>
            Vi kan alla göra skillnad på olika sätt och vi väljer därför att på varje event försöka samarbeta med en transparent välgörenhetsorganisation vi kan känna oss trygga med och vet att dessa står för samma värderingar som vi inom FASE.
        </p>
        <!-- endeditable about-text -->
    </div>

    <nav class="button-group">
        <a href="/om-oss.html" class="button">Mer om oss </a>
    </nav>
</article>

<%- include('../components/partners-block/partners-block', { showHeading: true }) %>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: null}) %>