<%- include('layouts/layout', {render: 'top'}) %>
<section class="hero">
    <article class="hero__content">
        <h2 class="hero__sub-heading">Specialkryssning på M/S Viking Cinderella</h2>
        <h1 class="hero__heading">
            <i class="icon--calendar"></i>
            Dryckeskultur 2018
        </h1>
        <p class="hero__text">
            Fair and Square Event presenterar premiären för Dryckeskultur 2018. En mer renodlad dryckesmässa som riktar sig främst till krögare, branschfolk och andra dryckesintresserade.
        </p>
        <nav class="button-group">
            <a class="button button--invert" href="/dryckeskultur-2018.html">Läs mer</a>
            <a class="button button--primary" href="https://www.vikingline.se/cruise/swe/sv/market.vl?action=cruise-details&fromHarbour=STO&membership=NONE&promotionCode=DK2018&departureDate=2018-09-16" target="_blank">Boka nu</a>
        </nav>
    </article>
    <figure class="hero__image" style="background-image: url('/static/hero-image.jpg')"></figure>
</section>

<article class="text-block">
    <h2 class="text-block__heading">A new kind of <strong>event</strong></h2>
    <div class="text-block__content">
        <p>
            Fair and Square Event är precis som det låter, ett rättvist event. Vi använder oss främst av rättvisa och miljövänliga aktörer, varumärken och leverantörer.
        </p>

        <p>
            På varje event samarbetar vi med en transparent välgörenhetsorganisation.
        </p>

        <p>
            Vårat mål är att fullfölja våra klienters idéer, våra besökares förväntningar och ta vårat ansvar för en hållbar utveckling. I slutändan ska alla känna att de fick en fair deal.
        </p>
    </div>

    <nav class="button-group">
        <a href="/om-oss.html" class="button">Mer om oss</a>
    </nav>
</article>

<article class="text-block partners-block">
    <h2 class="text-block__heading partners-block__heading">Våra partners</h2>
    <ul class="partners-block__list">
        <li class="partners-block__item">
            <a href="#" class="partners-block__link"><img src="/static/logo_adidas.png"></a>
        </li>
        <li class="partners-block__item">
            <a href="#" class="partners-block__link"><img src="/static/logo_mastercard.png"></a>
        </li>
        <li class="partners-block__item">
            <a href="#" class="partners-block__link"><img src="/static/logo_nbc.png"></a>
        </li>
        <li class="partners-block__item">
            <a href="#" class="partners-block__link"><img src="/static/logo_scandic.png"></a>
        </li>
        <li class="partners-block__item">
            <a href="#" class="partners-block__link"><img src="/static/logo_vw.png"></a>
        </li>
    </ul>
</article>
<%- include('layouts/layout', {render: 'bottom'}) %>