<%- include('layouts/layout', {render: 'top', selectedMenuItem: 'about-us', pageTitle: 'Ordningsregler'}) %>
<section class="hero hero--small" style="background-image: url('/static/the_sea.jpg')">
    <div class="hero__content">
        <h1 class="hero__heading">Ordningsregler</h1>
    </div>
</section>

<div class="page rules">
    <article class="text-block">
        <h2 class="text-block__heading">Trivselregler i samband med evenemang ombord</h2>
        <div class="text-block__content">
            <p>
                Tallink Silja och arrangören har tillsammans sammanställt några enkla och självklara
                ordningsregler för att alla skall trivas ombord.
            </p>
            <ol>
                <li>
                    <strong>1. Rökning endast i anvisade utrymmen</strong>
                    <p>
                        Rökning är tillåten endast i anvisade utrymmen, ej i hytter, vid barer, dansgolv och
                        scener <strong>(om du röker i hytten kostar det dig 880,00 SEK)</strong>. Tända cigaretter kan
                        förstöra andras kläder när det är trångt. Det finns också många som är allergiska ombord
                        och som uppskattar en rökfri miljö.            
                    </p>
                </li>
                <li>
                    <strong>2. Inköp i butikerna</strong>
                    <p>
                        Det är inte tillåtet att ta med väskor och ryggsäckar in i butikerna. Ha alltid med giltigt
                        ID och boardingkort när du besöker butikerna. Drinkar köpta i barerna får du inte ta
                        med dig in i butikerna. Allt snatteri polisanmäls.                        
                    </p>
                </li>
                <li>
                    <strong>3. Hyttfester</strong>
                    <p>
                        Enligt gällande säkerhetsbestämmelser tillåts inte att egen större ljudanläggning
                        används i varken hytten, hyttkorridorer eller i andra utrymmen ombord. Det är en
                        säkerhetsrisk och kan vara direkt livsfarligt i händelse av utrymning. Vid överträdelse
                        av detta beslagtas utrustningen omedelbart.
                    </p>
                    <p>
                        Den största ljudanläggningen man får ta med sig är en bärbar ”boombox” eller
                        datorhögtalare. Volymen får inte vara så hög att det stör dina grannar. Om andra gäster
                        eller personal ber dig sänka volym, respektera detta.
                    </p>
                </li>
                <li>
                    <strong>4. Tyst för vila i hyttkorridorer och trapphus</strong>
                    <p>
                        Respektera att dina grannar kanske vill sova på natten i sina hytter. Inga egna
                        bandspelare är tillåtna på publika utrymmen (trapphus, korridorer, etc.).                    
                    </p>
                </li>
                <li>
                    <strong>5. Alkohol ombord</strong>
                    <p>
                        Alkoholhaltiga drycker kan du köpa i barer och restauranger ombord. Det är förbjudet
                        att ta med alkohol ombord på fartyget. Det går att köpa dryckespaket från särskilda
                        försäljningsvagnar. Försäljningsstart vid avgång och pågår i ungefär en timme. Dessa
                        drycker får inte förtäras på allmänna utrymmen eller på restaurangerna.                    
                    </p>
                </li>
                <li>
                    <strong>6. Sprinkler, lampor, säkerhetsutrustning</strong>
                    <p>
                        Lampor och sprinkler är nödvändiga för vår säkerhet. Det är absolut förbjudet att täcka
                        över, skruva ner eller på annat sätt göra dessa obrukbara. Ha respekt för säkerheten
                        ombord. Åverkan på säkerhetsutrustning är straffbart enligt svensk lag och polisanmäls.                    
                    </p>
                </li>
                <li>
                    <strong>7. Alla som bor i er hytt är ansvariga</strong>
                    <p>
                        Observera att alla resenärer i er hytt är solidariskt ansvariga, för vad som sker i hytten
                        och strax utanför. All skadegörelse och extrem nedsmutsning i er hytt medför att ni är
                        ersättningsskyldiga och polisanmäls alltid.                    
                    </p>
                </li>
                <li>
                    <strong>8. Låt bli skadegörelse ombord</strong>
                    <p>
                        All skadegörelse ombord medför ersättningsskyldighet och polisanmäls.                    
                    </p>
                </li>
                <li>
                    <strong>9. Polisen väntar i följande hamn</strong>
                    <p>
                        Vid grova överträdelser av ordningsreglerna, blir man strandsatt i närmaste hamn och
                        överlämnas till polisen. Man får på egen hand ordna och bekosta sin hemresa.                    
                    </p>
                </li>
                <li>
                    <strong>10. Taxfree</strong>
                    <p>
                        På utresan från Stockholm på kvällen kommer försäljning av alkohol i taxfreebutiken inte ske.
                        Alkoholförsäljning sker i barer och restauranger under hela kryssningen. Under dagen på
                        hemresan sker försäljning av alkohol i taxfreebutiken som normalt.                    
                    </p>
                </li>
            </ol>            
        </div>
    </article>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: 'ordningsregler'}) %>