<%- include('layouts/layout', {render: 'top', selectedMenuItem: 'events', pageTitle: 'Dryckeskultur 2018 - FASE: A new kind of event'}) %>
<section class="hero hero--small" style="background-image: url('/static/the_sea.jpg')">
    <div class="hero__content">
        <h1 class="hero__heading">Program</h1>
    </div>
</section>

<div class="page rules">
    <%- include('../components/program/program') %>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: 'events'}) %>