<%- include('layouts/layout', {render: 'top', selectedMenuItem: 'events'}) %>
<section class="hero hero--static" style="background-image: url('/static/the_sea.jpg')">
    <div class="hero__content">
        <img class="hero__logo" src="/static/dryckeskultur.png" alt="Dryckeskultur 2018 logo">
    </div>
</section>

<div class="workshops">
    <h1 class="page__heading">Premiumskolningar</h1>

    <ol class="events__list">
        <li class="events__item">
            <p class="events__item__intro">
                <img class="events__item__image" src="/static/logo_zigges.png" alt="Zigges Garage">
            </p>
            <h2 class="events__item__heading"><i class="icon--calendar"></i> Tänk utanför glaset</h2>
            <span class="events__item__date"><i class="icon--clock"></i> To Be Announced</span>
            <div class="text-block__content">
                <p class="events__item__disclaimer">
                    Bobby & Dumbo har jobbat tillsammans bakom baren i över 10 år i både Sverige och världen över. De driver idag Zigges Garage och Barcore AB.
                </p>
                <p>
                    Vi kommer att visa er våra olika serveringar, som sträcker sig utanför det klassiska grogg-glaset. Vi visar er skillnaden på att jobba effektivt och tänka igenom varje steg när ni jobbar! Det finns alltid utrymme för utveckling och förbättring.
                </p>
            </div>
        </li>
    </ol>

    <h1 class="page__heading">Masterclasses</h1>

    <ol class="events__list">
        <li class="events__item">
            <p class="events__item__intro">
                <img class="events__item__image" src="/static/logo_clydesdale.jpg" alt="Clydesdale">
            </p>
            <h2 class="events__item__heading"><i class="icon--calendar"></i> Rom, Rum, Rhum - Lär dig vad som är vad</h2>
            <span class="events__item__date"><i class="icon--clock"></i> To Be Announced</span>
            <div class="text-block__content">
                <p>
                    Rom är på rejält kommande. Allt fler dryckeskonnässörer letar sig till rommen, men få har kunskap om denna spännande dryck. Nu har du chansen att få lära dig massor om rom. Tillsammans med Thomas Sundblom, VD på Clydesdale, provar vi ett antal sorter och lär oss om historien, ursprungen, tillverkningen, lagringen och givetvis smaken.
                </p>
            </div>
        </li>
        <li class="events__item">
            <p class="events__item__intro">
                <img class="events__item__image" src="/static/logo_stallhagen.png" alt="Stallhagen">
            </p>
            <h2 class="events__item__heading"><i class="icon--calendar"></i> Öl</h2>
            <span class="events__item__date"><i class="icon--clock"></i> To Be Announced</span>
            <div class="text-block__content">
                <p>
                    Ålands stolthet Stallhagen med deras förste bryggare Jonas Backlund presenterar en bred masterclass inom öl.
                </p>
            </div>
        </li>
    </ol>

    <h2 class="page__heading">Workshops</h2>

    <ol class="events__list">
        <li class="events__item">
            <p class="events__item__intro">
                <img class="events__item__image" src="/static/logo_skanska-spritfabriken.png" alt="Skånska Spritfabriken">
            </p>
            <h2 class="events__item__heading"><i class="icon--calendar"></i> Världens Bästa Gin till Gin &amp; Tonic 2017!</h2>
            <span class="events__item__date"><i class="icon--clock"></i> To Be Announced</span>
            <div class="text-block__content">
                <p>
                    Skånska Spritfabriken kör en egen workshop med en presentation och provning av deras vinnar-gin 2017.
                </p>
            </div>
        </li>
    </ol>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: 'events'}) %>