<%- include('layouts/layout', {render: 'top', selectedMenuItem: null, pageTitle: 'Dryckeskultur 2018 - Tack för ditt meddeland!'}) %>
<section class="hero hero--small" style="background-image: url('/static/the_sea.jpg')">
    <div class="hero__content">
        <h1 class="hero__heading">Meddelandet har skickats</h1>
    </div>
</section>

<div class="page partners">
    <article class="text-block">
        <div class="text-block__content">
            <p>Vi återkommer till dig så snart vi kan.</p>
        </div>
    </article>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: null}) %>