<%- include('layouts/layout', {render: 'top', selectedMenuItem: null, pageTitle: 'Tack för din anmälan till Dryckeskultur 2018!'}) %>
<section class="hero hero--small" style="background-image: url('/static/the_sea.jpg')">
    <div class="hero__content">
        <h1 class="hero__heading">Tack för din anmälan!</h1>
    </div>
</section>

<div class="page partners">
    <article class="text-block">
        <div class="text-block__content">
            <p>Vi ses!</p>
        </div>
    </article>
</div>
<%- include('layouts/layout', {render: 'bottom', selectedMenuItem: null}) %>