$events__item__heading__color: black;

.events {
    &__list {
        @include reset__list;
        margin: 0 auto;
        padding: em($gutter-width) 0;
    }

    &__item {
        padding: em($gutter-width-sm * 1.5) 0 em($gutter-width-sm * 1.5);
        text-align: center;
        border-top: 3px solid $color__grey__light;

        @include mq($from: small) {
            padding: em($gutter-width * 1.5) 0;
        }

        &:first-child {
            padding-top: 0;
            border-top: none;
        }

        // &:nth-child(2n+0) {
        //     background-color: $color__grey__light;
        // }

        &__wrapper {
            margin: 0 auto;
            max-width: em(960px);
        }

        &__image {
            max-width: em(200px);
            margin-bottom: em(10px);
            margin-top: em(10px);
        }

        &__intro {
            font-family: $font__brand__light;
            margin: 0;

            @include mq($until: small) {
                font-size: 16px;
            }

            @include mq($from: small) {
                font-size: 20px;
            }
        }

        &__disclaimer {
            font-family: Roboto;
            font-style: italic;

            @include mq($until: small) {
                font-size: 14px !important;
            }

            @include mq($from: small) {
                font-size: 17px !important;
            }
        }

        &__heading {
            color: $events__item__heading__color;

            @include mq($until: small) {
                font-size: 24px;
                line-height: 32px;
                margin: em(5px, 24px) 0;
            }

            @include mq($from: small) {
                font-size: 32px;
                line-height: 38px;
                margin: em($gutter-width-half, 32px) 0;
            }
        }

        &__date {
            font-family: $font__brand__bold;
            font-size: 16px;
            color: $color__brand;

            @include mq(small) {
                font-size: 18px;
            }

            i {
                color: black;
            }
        }

        &__link {
            color: $events__item__heading__color;
            text-decoration: none;

            > i {
                color: $color__link;
                position: relative;
                right: 0;
                transition: all 0.3s ease-in-out;
            }

            &:hover > i {
                right: -5px;
            }
        }

        .text-block__content {
            margin-bottom: 0;
        }
    }
}