<footer class="footer">
    <div class="container">
        <div class="row footer__row">
            <form class="footer__column form form--invert">
                <h4 class="footer__heading">Kontakta oss</h4>

                <div class="form__row">
                    <input class="form__input" type="text" placeholder="Namn">
                </div>

                <div class="form__row">
                    <input class="form__input" type="email" placeholder="E-post">
                </div>

                <div class="form__row">
                    <input class="form__input" type="text" placeholder="Telefon">
                </div>

                <div class="form__row">
                    <textarea class="form__textarea" placeholder="Meddelande"></textarea>
                </div>

                <div class="form__row">
                    <button class="button button--primary" type="submit">Skicka</button>
                </div>
            </form>

            <div class="footer__column footer__address">
                <h4 class="footer__heading">Här hittar du oss</h4>
                <p>
                    <strong>Postadress:</strong><br>
                    Råbyvägen 23<br>
                    754 22 Uppsala
                </p>
                <p>
                    <strong>Telefonnummer:</strong><br>
                    <a href="tel:+46706271187">+46 (0)70-627 11 87</a>
                </p>
                <p>
                    <strong>E-post:</strong><br>
                    <a href="mailto:info@fase-ab.se">info@fase-ab.se</a>
                </p>
            </div>
        </div>
    </div>
</footer>