.events {
    &__list {
        @include reset__list;
        margin: 0 auto;
        padding: em($gutter-width);
        max-width: em(960px);
    }

    &__item {
        margin: 0;
        padding: 0 0 em($gutter-width * 2);
        text-align: center;

        &__image {
            max-width: em(200px);
            margin-bottom: em(10px);
        }

        &__intro {
            font-family: $font__brand__light;
            margin: 0;

            @include mq($until: small) {
                font-size: 16px;
            }

            @include mq($from: small) {
                font-size: 20px;
            }
        }

        &__disclaimer {
            font-family: Roboto;
            font-style: italic;

            @include mq($until: small) {
                font-size: 14px !important;
            }

            @include mq($from: small) {
                font-size: 17px !important;
            }
        }

        &__heading {
            @include mq($until: small) {
                font-size: 24px;
                margin: em(5px, 24px) 0;
            }

            @include mq($from: small) {
                font-size: 32px;
                margin: em($gutter-width-half, 32px) 0;
            }
        }

        &__date {
            font-family: $font__brand__bold;
            font-size: 16px;
            color: $color__brand;

            @include mq(small) {
                font-size: 18px;
            }

            > i {
                color: black;
            }
        }
    }
}