.social-links {
    @include reset__list;
    display: inline-block;
    margin: 0 auto;

    &__item {
        display: inline-block;
        padding: 0 em(3px);

        > a {
            display: block;
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 100%;
            background-color: white;
            color: black;
            text-decoration: none;

            &:before {
                line-height: 40px;
            }

            > span {
                display: none;
            }
        }
    }
}